ul {
    list-style: none;
}

.all {
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
}

.date {
    position: absolute;
    top: 206px;
}

.upload {
    position: absolute;
    top: 206px;
    left: 540px;
}

.Rames {
    position: absolute;
    left: 685px;
    top: 10px;
}

.RameH1 {
    position: absolute;
    top: 230px;
}

.RameH2 {
    position: absolute;
    top: 230px;
    left: 240px;
}

.RameH3 {
    position: absolute;
    top: 230px;
    left: 440px;
}

.RameH4 {
    position: absolute;
    top: 230px;
    left: 640px;
}


.traiterH1 {
    width: 20%;
    position: absolute;
    top: 2800px;
}

.traiterH2 {
    width: 20%;
    position: absolute;
    top: 2800px;
    left: 540px;
}

.traiterH3 {
    width: 20%;
    position: absolute;
    top: 2800px;
    left: 1080px;
}

.traiterH4 {
    width: 20%;
    position: absolute;
    top: 2800px;
    left: 1620px;
}

.AnalyseRexH1 {
    width: 20%;
    position: absolute;
    top: 3300px;
}

.AnalyseRexH2 {
    width: 20%;
    position: absolute;
    top: 3300px;
    left: 540px;
}

.AnalyseRexH3 {
    width: 20%;
    position: absolute;
    top: 3300px;
    left: 1080px;
}

.AnalyseRexH4 {
    width: 20%;
    position: absolute;
    top: 3300px;
    left: 1620px;
}

.piecesH1 {
    width: 20%;
    position: absolute;
    top: 3800px;
}

.piecesH2 {
    width: 20%;
    position: absolute;
    top: 3800px;
    left: 540px;
}

.piecesH3 {
    width: 20%;
    position: absolute;
    top: 3800px;
    left: 1080px;
}

.piecesH4 {
    width: 20%;
    position: absolute;
    top: 3800px;
    left: 1620px;
}

.clotureH1 {
    width: 20%;
    position: absolute;
    top: 4300px;
}

.clotureH2 {
    width: 20%;
    position: absolute;
    top: 4300px;
    left: 540px;
}

.clotureH3 {
    width: 20%;
    position: absolute;
    top: 4300px;
    left: 1080px;
}

.clotureH4 {
    width: 20%;
    position: absolute;
    top: 4300px;
    left: 1620px;
}

.EnCoursH1 {
    width: 20%;
    position: absolute;
    top: 4800px;
}

.EnCoursH2 {
    width: 20%;
    position: absolute;
    top: 4800px;
    left: 540px;
}

.EnCoursH3 {
    width: 20%;
    position: absolute;
    top: 4800px;
    left: 1080px;
}

.EnCoursH4 {
    width: 20%;
    position: absolute;
    top: 4800px;
    left: 1620px;
}

.vigilerH1 {
    width: 20%;
    position: absolute;
    top: 5300px;
}

.vigilerH2 {
    width: 20%;
    position: absolute;
    top: 5300px;
    left: 540px;
}

.vigilerH3 {
    width: 20%;
    position: absolute;
    top: 5300px;
    left: 1080px;
}

.vigilerH4 {
    width: 20%;
    position: absolute;
    top: 5300px;
    left: 1620px;
}